@tailwind base;
@tailwind components;
@tailwind utilities;

/* basic app-wide styles */
html, body, #__next {
  height: 100%;
  background: #1C1C1C;
  color: #EDEDED;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
